/*CSS*/

/*COLOUR VARIABLES*/
:root {
  --main-navy: rgb(7, 128, 176);
  --background-color: rgb(255, 250, 247);
}

/*HTML*/

body {
  display: flex;
  flex-direction: column; /* Stacks header and hero image vertically */
  justify-content: space-between; /* Ensures the header stays at the top */
  min-height: 100vh; /* Ensures the body fills the viewport height */
  margin: 0; /* Removes default body margin */
  background-color: var(--background-color);
}

/*HERO PAGE*/

/*WELCOME TO, MY PORTFOLIO Heading*/

/* My portfolio heading animation - sliding in from the top */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%); /* Start off-screen above */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at its original position */
    opacity: 1;
  }
}

/* My portfolio heading styles */
.my-portfolio-heading {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  position: relative;
  top: -56px;
  left: -105px;
  color: var(--main-navy);
  z-index: 1;
  animation: slideInFromLeft 1s ease-out;
}

/*Hero-images*/
/*Barcelona image*/
.big-hero-image-container {
  position: relative; /* Allows absolute positioning of child elements */
  display: flex;
  justify-content: center; /* Centers the image and heading horizontally */
  flex-grow: 1; /* Ensures this section expands to fill available space */
}

.big-hero-image {
  width: 400px;
  display: block;
  margin-top: -60px;
}

/* HEADER */
header {
  width: 100%; /* Ensure header spans the full width */
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out logo and menu */
  padding-right: 20px; /* Optional padding for spacing */
}

/* LOGO */
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline from link */
}

.logo {
  height: 75px; /* Adjust the size of your SVG logo */
  width: auto; /* Maintain aspect ratio */
  padding-left: 15px;
}

/* MENU */
.menu-ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Menu items */
.menu-li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin-left: 2rem; /* Space between menu items */
  margin-right: 4rem;
}

a {
  text-decoration: none;
  color: black;
}

/*FOOTER*/
footer {
  text-align: center;
  width: 100%;
  height: 20px;
}

.copyright-paragraph {
  font-size: 14px;
  margin-top: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--main-navy);
  margin-top: 100px;
}

/* PROJECTS PAGE */

.projects-headings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0;
  margin: 0 auto;
}

.projects-headings {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--background-color);
  background-color: var(--main-navy);
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  width: 250px;
  height: 100px;
  transition: background-color 0.3s, transform 0.2s;
}

.projects-headings:hover {
  transform: scale(1.05);
}

.projects-headings:focus {
  outline: none;
}

/* WEB-DEVELOPMENT PAGE */

.image-wrapper {
  display: flex; /* Flex container for images */
  flex-direction: row; /* Align frames in a row */
  justify-content: center; /* Center frames horizontally */
  gap: 180px; /* Space between the frames */
  flex-wrap: wrap; /* Allow frames to wrap to the next line if needed */
}

/* Combined container for both images */
.combined-image-container {
  padding: 8px; /* Padding for the combined frame */
  border-radius: 15px; /* Rounded corners */
  background-color: transparent; /* Set background to transparent */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Soft shadow effect */
  width: 300px; /* Set a specific width for the container */
  height: auto; /* Adjust height automatically based on content */
  text-align: center; /* Center text and images within the frame */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for the frame */
  display: flex; /* Use flex to align children elements */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

/* Frame container styling */
.frame-container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center items horizontally */
  margin-bottom: 20px; /* Space between frames */
}

/* Styling for the frame heading */
.frame-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center; /* Center the text */
  font-size: 19px; /* Adjust font size */
  margin-top: 15px; /* Space between image and heading */
  color: var(--main-navy); /* Text color */
}

/* Styling for the frame text */
.frame-text {
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  text-align: center; /* Center the text */
  font-size: 16px; /* Smaller font size than headings */
  color: black; /* Text color */
  margin-top: -10px;
}

/* Trivin logo container */
.trivin-image-container {
  margin-bottom: 10px; /* Space below the logo */
}

.trivin-image {
  width: 100px; /* Adjusted width for the Trivin logo */
  height: auto; /* Maintain aspect ratio */
}

/* Trivin spec desktop screen image container */
.trivinspec-image-container {
  width: 100%; /* Full width of the container */
}

.trivinspec-image {
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 7px; /* Match border radius */
}

/* AceChase preview image container */
.acechase-preview-image-container {
  width: 100%; /* Full width of the container */
}

.acechase-preview-image {
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 7px; /* Match border radius */
}

/* To-Do List preview image container */
.todolist-image-container {
  width: 100%; /* Full width of the container */
}

.todolist-image {
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 7px; /* Match border radius */
}

/* Link Styling */
.combined-image-link {
  text-decoration: none; /* Remove underline from the link */
  color: inherit; /* Inherit text color from parent */
}

/* Hover Effects on Combined Container */
.combined-image-container:hover {
  transform: scale(1.05); /* Slightly enlarge the whole frame on hover */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}

/* GRAPHIC DESIGN PAGE */
.graphic-design-headings-container {
  display: block; /* Removes flexbox to allow vertical stacking */
  text-align: center; /* Centers the headings in the container */
  padding-top: 50px;
}

.graphic-design-headings {
  margin: 30px 0; /* Adds vertical space between headings */
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-navy);
  text-align: center;
}

/* Logos */
.logo-images-container {
  display: flex;
  justify-content: center; /* Centers the logos horizontally */
  align-items: center; /* Centers logos vertically in the container */
  gap: 200px; /* Optional: Adds space between the logos */
  padding-top: 20px;
  padding-bottom: 20px;
}

.tolken-logo {
  width: 200px;
  height: auto;
  padding-left: 45px;
}

.bookmark-logo {
  width: 250px;
  height: auto;
}

.loggy-logo {
  width: 100px;
  height: auto;
  padding-left: 90px;
  padding-right: 80px;
}

/* Align images in a row and style container */
.logo-images-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px; /* Optional: spacing between logos */
}

/* Remove underline on links */
.logo-images-container a {
  text-decoration: none;
}

/*Print*/
.print-images-container {
  display: flex; /* Aligns images in a row */
  justify-content: space-around; /* Distributes space between items */
  align-items: center; /* Centers images vertically */
  gap: 20px; /* Optional: spacing between images */
}

.print-images-container a {
  text-decoration: none; /* Removes underline from links */
}

.print-images-container img:hover {
  transform: scale(1.1); /* Scales image on hover */
}

.ai-magazine-preview-image {
  width: 250px; /* Adjusts image width */
  height: auto; /* Maintains aspect ratio */
  transition: transform 0.3s ease; /* Adds a hover effect */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Soft shadow effect */
  border-radius: 7px;
}

.tennis-gazette-preview-image {
  width: 250px; /* Adjusts image width */
  height: auto; /* Maintains aspect ratio */
  transition: transform 0.3s ease; /* Adds a hover effect */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Soft shadow effect */
  border-radius: 7px;
}

.hamptons-preview-image {
  width: 250px; /* Adjusts image width */
  height: auto; /* Maintains aspect ratio */
  transition: transform 0.3s ease; /* Adds a hover effect */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Soft shadow effect */
  border-radius: 7px;
}

.paulrand-preview-image {
  width: 400px;
  height: auto; /* Maintains aspect ratio */
  transition: transform 0.3s ease; /* Adds a hover effect */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Soft shadow effect */
  border-radius: 7px;
}

.graphic-profile-preview-container {
  flex: 1; /* Flexbox property to make each container flexible */
}

.graphic-profile-preview-container img {
  width: 550px; /* Adjust width as needed */
  height: auto; /* Maintains aspect ratio */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08); /* Soft shadow */
  border-radius: 7px;
  margin-right: -5px; /* Pull the images closer by adjusting the margin */
}

.graphic-profile-preview-container img:hover {
  transform: scale(1.05); /* Slight enlargement on hover */
}

.graphic-profile-preview-wrapper {
  display: flex; /* Align child items in a row */
  justify-content: flex-start; /* Align items to the left */
}

/*Social Media marketing*/
.social-media-images-container {
  display: flex; /* Aligns images in a row */
  justify-content: space-around; /* Distributes space evenly between images */
  align-items: center; /* Centers images vertically in the container */
  gap: 20px; /* Optional: Adds space between images */
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-media-images-container img {
  width: 350px; /* Adjust width as needed */
  height: auto; /* Maintains aspect ratio */
}

/*FOR THE SPECIFICS PAGES*/
.spec-heading {
  margin: 30px 0; /* Adds vertical space between headings */
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-navy);
  text-align: center;
  display: block; /* Removes flexbox to allow vertical stacking */
}

/*AI PAGE*/
.ai-image-container {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically if needed */
  padding: 20px; /* Optional: Adds padding around the image */
}

.ai-image {
  width: 1400px; /* Increase width as needed */
  height: auto; /* Keeps the aspect ratio */
}

/*TENNIS GAZETTE*/
/*
.tennis-gazette-images-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  padding: 20px; 
}

.tennis-gazette-image {
  width: 300px; 
  height: auto; 
}
*/

.book-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 30px; /* Space between the image and text */
}

.bookmockup-image {
  width: 450px; /* Set the image size */
  height: auto; /* Maintain aspect ratio */
  padding-left: 300px;
}

.book-text {
  max-width: 400px; /* Optional: Limit the width of the text */
}

.spec-heading {
  margin: 0;
  font-size: 24px;
  padding-right: 65px;
}

.bookcover-paragraph {
  margin: 0 0 15px; /* Adds 15px gap below each paragraph */
  font-size: 15px;
  color: black;
  line-height: 1.5;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
}

/*HAMPTONS PAGE*/
.hamptons-images-container {
  display: flex; /* Aligns images in a row */
  justify-content: center; /* Centers the images horizontally */
  align-items: center; /* Centers the images vertically */
  gap: 15px; /* Space between images */
  padding: 20px; /* Optional padding around the container */
}

.hamptons-image {
  width: 730px; /* Adjusts to a smaller size */
  height: auto; /* Maintains aspect ratio */
}

/*PAUL RAND PAGE*/
.paulrand-images-container {
  display: flex;
  flex-direction: column; /* Stacks images vertically */
  justify-content: center; /* Centers the images horizontally */
  align-items: center; /* Centers the images vertically */
  gap: 15px; /* Space between images */
  padding: 20px; /* Optional padding around the container */
}

.paulrand-image {
  width: 1040px; /* Adjust width as needed */
  height: auto; /* Maintains aspect ratio */
}

/*GRAPHIC PROFILE PAGE*/
.graphic-profile-images-container {
  display: flex;
  flex-direction: column; /* Stacks images vertically */
  justify-content: center; /* Centers images horizontally within the container */
  align-items: center; /* Centers images vertically in the container */
  gap: 15px; /* Space between images */
  padding: 20px; /* Optional padding around the container */
}

.graphic-profile-image {
  width: 700px; /* Set a smaller width for each image */
  height: auto; /* Maintains aspect ratio */
}

/*CONTACT PAGE*/
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  color: var(--main-navy);
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  margin-top: -180px;
}

.contact-paragraphs {
  text-align: center;
  margin: 0;
  font-size: 15px;
  color: black;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
}

.linkedin-image {
  width: 70px;
  height: 70px; /* Make sure it's square for a perfect circle */
  margin-top: -30px;
  clip-path: circle(50%); /* This ensures the image is round */
  transition: transform 0.2s, box-shadow 0.3s;
  background-color: transparent; /* Make sure no background color */
  display: block; /* Removes inline-block space */
  object-fit: cover; /* Ensures the logo is scaled correctly inside the circle */
}

/* Hover effect for LinkedIn logo */
.linkedin-image:hover {
  transform: scale(1.05); /* Slight scaling effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: adds shadow effect on hover */
}

/*ABOUT PAGE*/

.about-section {
  display: flex; /* Align items horizontally */
  align-items: flex-start; /* Align content to the top */
  justify-content: flex-start; /* Align content to the left */
  gap: 30px; /* Adds space between the image and the text */
  padding: 10px;
  padding-left: 350px;
}

.portrait-image-container {
  display: inline-block;
  padding: 15px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 350px; /* Sets the width of the container */
  margin: 0; /* Remove any extra left margin for centering */
}

.about-image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.spec-heading {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px; /* Adds space below the heading */
}

.about-text {
  display: flex; /* Enables flexbox for text */
  flex-direction: column; /* Stacks heading and paragraphs vertically */
  max-width: 400px; /* Sets max width of the paragraph area */
  margin: 0; /* Remove unnecessary margins */
}

.about-paragraph-container {
  margin: 0; /* Remove unnecessary margins */
}

.about-paragraph {
  font-size: 15px;
  color: black;
  line-height: 1.5;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  margin-top: 10px; /* Adds space between paragraphs */
}

.caption {
  color: white;
  font-size: 40px;
}

/*VIDEO PAGE*/

.video-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the page */
  position: relative; /* Required for overlay */
}

/* Image styling */
.video-image {
  width: 500px; /* Set desired width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 7px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the button */
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  border-radius: 50%; /* Circular button */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Add transform transition */
}

/* Play icon */
.play-button::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid white; /* Triangle play icon */
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* Hover effect on the play button */
.play-button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
  transform: translate(-50%, -50%) scale(1.2); /* Increase size by 20% */
}

.spec-heading {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px; /* Adds space below the heading */
  padding-left: 45px;
}

.video-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center; /* Center the text */
  font-size: 19px; /* Adjust font size */
  margin-top: 15px; /* Space between image and heading */
  color: var(--main-navy); /* Text color */
}
